body {
    /* margin 기본값 8px이기 때문에 0으로 수정 */
    margin: 0; 
    background-image: url("images/todoapp-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    /* 100vh: 보는 화면의 높이 100% */
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
    border: 1px solid lightgray;
}
.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

#under-line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 90px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
}

.task-done {
    width: 70%;
    text-decoration: line-through;
    background-color: lightgray;
    padding: 1em;
}

.task-item {
    padding: 1em;
}

.task-icon {
    display: flex;
    width: 30%;
    padding: 1em;
    justify-content: space-between;
    background-color: white;
}

.task-check {
    max-height: 1em;
    margin: 0.5em;
}

.task-delete {
    max-height: 1em;
    margin: 0.5em;
}